*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 84);
}

.container {
    width: 16rem;
    height: 8rem;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px black;
}

.timer {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.start {
    background-color: red;
    padding: 3px 10px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px black;
}

.stop{
    background-color: gray;
    padding: 3px 10px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px black;
}

.reset {
    background-color: yellow;
    padding: 3px 10px;
    font-weight: bold;
    color: black;
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px black;
}

.start:hover {
    cursor: pointer;
    background-color: rgb(179, 9, 9);
}

.stop:hover {
    cursor: pointer;
    background-color: rgb(70, 70, 70);
}

.reset:hover {
    cursor: pointer;
    background-color: rgb(205, 205, 5);
}